<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="All_Appointments" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxBootstrap5TableGenerator:{},dmxBootstrap4TableGenerator:{}}" -->
<dmx-serverconnect id="serverconnect1" url="/api/Appointments" dmx-param:search="text1.value" dmx-param:appointment_id=""></dmx-serverconnect>
<meta name="ac:route" content="/All_Appointments">
<header class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
                    <a class="navbar-brand me-auto" href="#">Pain Center</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar1_collapse">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="/Staff_Dashboard" internal>Dashboard</a>
                            <a class="nav-item nav-link" href="/Calendar" internal>Calendar</a>
                            <a class="nav-item nav-link" href="/All_Appointments" internal>All Appointments</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container mt-5">
    <h1 class="text-center text-primary">All Appointments in Database</h1>
</div>
<div class="container mt-5">
    <div class="row row-cols-12">
        <div class="offset-3 col-6">
            <input id="text1" name="text1" type="text" class="form-control" placeholder="Search by First Name, Last Name or Appointment ID">
        </div>

    </div>
</div>
<section class="bg-white">
    <div class="container bg-white">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered border-primary text-center">
                <thead>
                    <tr>
                        <th>Appointment</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th>Nhs number</th>
                        <th>Date of appointment</th>
                        <th>Area of pain</th>
                        <th>Pain information</th>
                        <th>Contact by phone</th>
                        <th>Contact by email</th>
                    </tr>
                </thead>
                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="serverconnect1.data.Appointments_Query" id="tableRepeat1">
                    <tr>
                        <td dmx-text="Appointment_id"></td>
                        <td dmx-text="First_Name"></td>
                        <td dmx-text="Last_Name"></td>
                        <td dmx-text="Email"></td>
                        <td dmx-text="Phone_Number"></td>
                        <td dmx-text="NHS_Number"></td>
                        <td dmx-text="DateOfAppointment"></td>
                        <td dmx-text="Area_Of_Pain"></td>
                        <td dmx-text="Pain_information"></td>
                        <td dmx-text="Contact_By_Phone"></td>
                        <td dmx-text="Contact_By_Email"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer>
    <section class="contact-area mt-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <div class="hr"></div>
                        <h1>Pain Center</h1>
                        <h6>221b Baker St, London NW1 6XE</h6>
                        <h6>Phone: +01 2345 6789 12<span>|</span>Email: pain_center@gmail.com</h6>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-instagram"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="text-center">Copyright &copy; 2022 All Rights Reserved.</p>
</footer>