<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Conditions" appConnect="local" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/Conditions">

<header class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
                    <a class="navbar-brand me-auto" href="#">Pain Center</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar1_collapse">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="/Home" internal>Home</a>
                            <a class="nav-item nav-link" href="/Conditions" internal>Conditions</a>
                            <a class="nav-item nav-link" href="/Treatments" internal>Treatments</a>
                            <a class="nav-item nav-link" href="/Medicines" internal>Medicines</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="bg-white mt-5">
    <h1 class="text-center text-primary">Common Sports Injury / Conditions</h1>
    <div class="container">
        <h5 class="text-center text-dark mt-3 ">Sport injuries can affect almost any part of the body, including the muscles, bones, joints and connective tissues (tendons and ligaments).</h5>
    </div>
</section>
<section class="bg-white text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <img class="card-img-top w-auto" alt="Card image cap" src="/assets/images/imgonline-com-ua-resize-DFddp2xDT4IS.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Sprains and Strains</h4>
                        <a href="/Sprains_and_Strains" class="btn btn-primary" internal>More details...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src="/assets/images/imgonline-com-ua-resize-Dgt8dyYzfJxPqCIo.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Back Injury / Pain</h4>
                        <a href="#" class="btn btn-primary">More details...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src="/assets/images/imgonline-com-ua-resize-NsUGm2HpTOF6Q.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Bone Injuries / Pain</h4>
                        <a href="#" class="btn btn-primary">More details...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src="/assets/images/imgonline-com-ua-resize-LDaehjwJINhP8Q5.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Hamstring Injury / Pain</h4>
                        <a href="#" class="btn btn-primary">More details...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src="/assets/images/imgonline-com-ua-resize-RFds6Kvq7b.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Arm Injuries / Pain</h4>
                        <a href="#" class="btn btn-primary">More details...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src="/assets/images/imgonline-com-ua-resize-I7yLbAsHglqio.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Knee Injuries / Pain</h4>
                        <a href="#" class="btn btn-primary">More details...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src="/assets/images/imgonline-com-ua-resize-Y9kkJHyllJTW.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Shoulder Injuries / Pain</h4>
                        <a href="#" class="btn btn-primary">More details...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src="/assets/images/imgonline-com-ua-resize-vQDdlHvihQzfS.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Leg Injuries / Pain</h4>
                        <a href="#" class="btn btn-primary">More details...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <section class="contact-area mt-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <div class="hr"></div>
                        <h1>Pain Center</h1>
                        <h6>221b Baker St, London NW1 6XE</h6>
                        <h6>Phone: +01 2345 6789 12<span>|</span>Email: pain_center@gmail.com</h6>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-instagram"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="text-center">Copyright &copy; 2022 All Rights Reserved.</p>
</footer>