<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Home" appConnect="local" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/Home">

<header class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
                    <a class="navbar-brand me-auto" href="#">Pain Center</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar1_collapse">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="/Home" internal>Home</a>
                            <a class="nav-item nav-link" href="/Conditions" internal>Conditions</a>
                            <a class="nav-item nav-link" href="/Treatments" internal>Treatments</a>
                            <a class="nav-item nav-link" href="/Medicines" internal>Medicines</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="bg-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="text-white">.</h1>
                <h1 class="text-center text-danger fw-bold mt-5">Experiencing Pain?</h1>
                <h3 class="text-center text-primary mt-5">Let the #1 Pain center help you identify the cause today</h3>
                <p class="fw-bold text-center mt-5 text-dark">Head, back, neck pain, whatever it may be, our goal is to end your chronic pain once and for all. Here at The Pain Center, our top interventional pain management specialists have training in advanced pain management treatments and techniques and state-of-the-art diagnostic technologies that give us the edge we need in ending your pain.</p>
            </div>
            <div class="col">
                <img src="/assets/images/imgonline-com-ua-resize-qhmGgnvMXX.jpg">
            </div>
        </div>
    </div>
</section>
<section class="bg-white mt-5">

    <div class="row mt-5">
        <div class="col-5">
            <img src="/assets/images/imgonline-com-ua-resize-ePhE3Hsya3oqbOV2.jpg" class="h-auto w-auto">
        </div>
        <div class="text-center col-6">
            <h1 class="text-white mt-5">.</h1>
            <h1 class="text-success text-center">Get the care you need within 24 hours*</h1>
            <p class="text-dark fw-bold mt-5">We know when you’re looking for relief for your chronic pain, you can’t wait any longer than you already have. This is why we can schedule you with an appointment right away, so you can start your journey to life-long pain relief as soon as tomorrow.</p>
            <a href="/Request_Appointment" class="btn btn-primary text-start" internal>Request an Appointment</a>
        </div>
    </div>
</section>
<footer>
    <section class="contact-area mt-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <div class="hr"></div>
                        <h1>Pain Center</h1>
                        <h6>221b Baker St, London NW1 6XE</h6>
                        <h6>Phone: +01 2345 6789 12<span>|</span>Email: pain_center@gmail.com</h6>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-instagram"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="text-center">Copyright &copy; 2022 All Rights Reserved.</p>
</footer>