<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Sprains_and_Strains" appConnect="local" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/Sprains_and_Strains">

<header class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
                    <a class="navbar-brand me-auto" href="#">Pain Center</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar1_collapse">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="/Home" internal>Home</a>
                            <a class="nav-item nav-link" href="/Conditions" internal>Conditions</a>
                            <a class="nav-item nav-link" href="/Treatments" internal>Treatments</a>
                            <a class="nav-item nav-link" href="/Medicines" internal>Medicines</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="bg-white mt-5">
    <h1 class="text-center text-primary">Sprains and Strains</h1>
    <div class="container mt-3">
        <div class="row">
            <div class="offset-2 col-8">
                <p class="text-center fw-bold text-dark fst-italic">Sprains and strains are common injuries affecting the muscles and ligaments. Most can be treated at home without seeing a GP.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/assets/images/imgonline-com-ua-resize-z61SFQqZHDq.jpg">
            </div>
            <div class="col">
                <h1 class="text-center mt-5 text-danger">What is a Sprained Ankle?</h1>
                <p class="text-dark text-center mt-3 fw-bold">A sprained ankle is one of the easiest and most commonly occurring injuries to get. An ankle injury is defined by the kind of tissue that is damaged; this could be your bone, ligament, or tendon. When you sprain your ankle, damage to your ligaments occurs due to being stretched beyond their normal capacity. A strain refers to damage to muscles and tendons as a result of being pulled or stretched too far. A fracture describes a break in one or more on the bones.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="container">
        <h3 class="text-body">What is the Difference Between a Twisted Ankle, a Rolled Ankle, and a Sprained Ankle?</h3>
        <p class="text-dark">The terms ‘twisted ankle’, ‘rolled ankle’, and ‘sprained ankle’ can all basically be used to describe the same thing. The outcome is the same, but the way you got the injury may differ. With a 'rolled' ankle, it is more likely that you will injure the lateral side of your ankle. If you 'twist' your ankle, the side of the ankle injured may differ, but it is still most common to injure the lateral side. A nice paragraph</p>
    </div>
</section>
<section class="bg-white">
    <div class="container">
        <h3 class="text-body">Who is Most Likely to get a Sprained Ankle?</h3>
        <p class="text-dark">Half of all ankle sprains occur during athletic activity. If you or your child participate in sports or high levels of exercise, it’s much more likely that you’ll get a sprained ankle. Men between 15 years old and 24 years old have higher rates of ankle sprains compared to women in that age group. Although, women older than the age of 30 have higher rates than men of spraining their ankle. Every day in the United States, 25,000 people sprain their ankle so you’re never quite out of the woods.</p>
    </div>
</section>
<section class="bg-white">
    <div class="container">
        <h3 class="text-body">The Most Common Causes of a Sprained Ankle:Fancy display heading</h3>
        <p class="text-dark">A fall that causes you to twist your ankle</p>
        <p class="text-body">Walking or exercising on an uneven surface</p>
        <p class="text-dark">Another person stepping or landing on your foot during a sports activity</p>
        <p class="text-dark">Landing awkwardly on your foot after jumping or pivoting</p>
    </div>
</section>
<section class="bg-white">
    <div class="container text-dark">
        <h3 class="text-dark">Symptoms of a Sprained Ankle:</h3>
        <p>Swelling
        <p>Bruising
        </p>
        <p>Restricted range of motion
        </p>
        <p>Pain when bearing weight
        </p>
        <p>Popping sensation at the time of injury
        </p>
        <p>Tenderness when touching the ankle
        </p>
        <p>Instability in the ankleA nice paragraph</p>
        </p>
    </div>
</section>
<section class="bg-white text-dark">
    <div class="container text-body">
        <h3 class="text-dark">How to Prevent a Rolled Ankle:</h3>
        <p>Proper warm-up techniques
        <p>Be careful when doing physical activity on uneven surfaces
        </p>
        <p>Wear shoes that fit well
        </p>
        <p>Avoid sports that you are not well conditioned for
        </p>
        <p>Practice balance exercises
        </p>
        <p>Use an ankle support on a weak or previously injured ankle</p>
        </p>
    </div>
</section>
<section class="bg-white text-body">
    <div class="container">
        <h3 class="text-dark">How to Care for a Sprained Ankle:</h3>
        <p>Rest, Ice, Compress, Elevate
        <p>Physical Therapy</p>
        </p>
    </div>
</section>
<section class="bg-white text-body">
    <div class="container">
        <h3 class="text-dark">Sprained Ankle Grading: How bad is my sprain?</h3>
        <p class="text-dark">Just like an injury, the severity of a sprained ankle can differ. Lucky for you, there’s actually a scale to determine how badly you sprained your ankle! There are three different grades, or degrees, of sprains.</p>
    </div>
</section>
<section class="bg-white text-body">
    <div class="container text-center">
        <img src="/assets/images/ezgif-5-d5412270e0.jpg" class="w-75">
    </div>
</section>
<section class="bg-white text-body">
    <div class="container">
        <h4 class="text-dark">Grade 1 of a Sprained Ankle</h4>
        <p>Your ankle is slightly swollen and is probably sore. You may notice a bruise as well. This means your ligament has been stretched but not torn. The best treatment option for this is the RICE approach for several days until the symptoms improve. This grade will have the shortest amount of recovery time - about 2-4 weeks.</p>
    </div>
</section>
<section class="bg-white text-body">
    <div class="container">
        <h4 class="text-dark">Grade 2 of a Sprained Ankle</h4>
        <p>This means you have a partial tear in your ligament. This causes prolonged pain and swelling. It will be painful to bear weight on your ankle. The tear has caused bleeding under your skin, so you will probably notice bruising as well. Treatment for a grade two ankle sprain includes the RICE approach as well as a device such as a boot or a splint to immobilize the ankle. You may also be given exercises to improve range of motion by your doctor that you can do at home. The recovery time for grade two is about 6-8 weeks.</p>
    </div>
</section>
<section class="bg-white text-body">
    <div class="container">
        <h4 class="text-dark">Grade 3 of a Sprained Ankle</h4>
        <p>Grade three is a full tear of your ligament. This level of sprain includes severe pain, swelling and bruising. Your ligament is no longer able to do its job so your ankle will feel unstable and be unable to support your weight. Treatment is almost the same as the treatment for grade 2, which the exception of surgery if the sprain does not heal in a reasonable amount of time. Grade three recovery time depends on several factors.</p>
    </div>
</section>
<footer>
    <section class="contact-area mt-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <div class="hr"></div>
                        <h1>Pain Center</h1>
                        <h6>221b Baker St, London NW1 6XE</h6>
                        <h6>Phone: +01 2345 6789 12<span>|</span>Email: pain_center@gmail.com</h6>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-instagram"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="text-center">Copyright &copy; 2022 All Rights Reserved.</p>
</footer>